<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About - Grad2Growth</title>
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="header flex-container" style="padding:10px; flex-direction: row; width: 100%">
        <div style="display: flex; justify-content: space-between;">
            <h1>Grad2Growth</h1>
            <h2 style="font-size: 32px;">From Graduation to Growth: How to Navigate Post-Grad Life</h2>
        </div>
    </div>
  <div class="nav-bar flex-container">
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('community') }}">Community</a></li>
      <li><a href="{{ url_for('about') }}">About</a></li>
      <li><a href="{{ url_for('profile') }}">Profile</a></li>
    </ul>
  </div>
  <div class="content">
    <h1 style="padding: 10px;">About Grad2Growth</h1>
    <p style="font-size: 20px; padding: 20px;">Grad2Growth is a platform dedicated to helping recent graduates navigate the transition from academia to professional life. Here you can build a personalized profile, access community support, and chat with your AI assistant for tips on career planning, financial management, and more.</p>
    <img src="static/images/collage.png" alt="Image collage of corporate buildings in Philadelphia and San Francisco, a sunset, the Santa Monica beach, the Redwood trees, and kayaking.">
</div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>