<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Grad2Growth - Auth</title>
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<body>
  <div class="header flex-container" style="padding:10px; flex-direction: row; width: 100%">
    <div style="display: flex; justify-content: space-between;">
        <h1>Grad2Growth</h1>
        <h2 style="font-size: 32px;">Login or Register to Get Started</h2>
    </div>
</div>

  <div class="auth-container flex-container" style="width:100%; justify-content: center; padding-left: 20px;">
    <div style="display: flex">
      <form id="login-form" onsubmit="login(event)">
        <h2>Login</h2>
        <input type="email" id="login-email" placeholder="Email" required><br>
        <input type="password" id="login-password" placeholder="Password" required><br>
        <button type="submit" style="padding: 2px; font-size: 14pt">Login</button>
     </form>
    </div>
    
    <div style="display: flex">
      <form id="register-form" onsubmit="register(event)">
        <h2>Register</h2>
        <input type="email" id="register-email" placeholder="Email" required><br>
        <input type="password" id="register-password" placeholder="Password" required><br>
        <button type="submit" style="padding: 2px; font-size: 14pt">Register</button>
      </form>
    </div>
    
  </div>

  <div>
    <img src="static/images/collage.png" alt="Image collage of corporate buildings in Philadelphia and San Francisco, a sunset, the Santa Monica beach, the Redwood trees, and kayaking.">
  </div>

  <script src="{{ url_for('static', filename='auth.js') }}"></script>
</body>
</html>
